     {% if marcadores|length > 0 %}
          <nav>
              <ul class="pagination justify-content-center">
                  {% if previous >=0 %}
                      <li class="page-item">
                        <a class="page-link"
                            href="{{
                                path('app_index', {offset: previous } )
                            }}">
                            <span>&laquo;</span>
                            <span>Anterior</span>
                        </a>
                      </li>
                  {% endif %}
                  <li class="page-item">
                      <a class="page-link" href=""><small>-(Hay {{ marcadores|length }} marcadores)-</small></a>
                  </li>
                  {% if next < marcadores|length %}
                      <li class="page-item">
                        <a class="page-link"
                            href="{{
                                path('app_index', {offset: next } )
                            }}">
                            <span>&laquo;</span>
                            <span>Próxima</span>
                        </a>
                    </li>
                  {% endif %}
              </ul>
          </nav>
      {% endif %}